In [36]:
!pip install neattext

Collecting neattext
  Downloading neattext-0.1.3-py3-none-any.whl (114 kB)
Installing collected packages: neattext
Successfully installed neattext-0.1.3

In [41]:
!pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.8.1-cp38-cp38-win_amd64.whl (155 kB)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from wordcloud) (3.5.1)
Requirement already satisfied: numpy>=1.6.1 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from wordcloud) (1.21.5)
Requirement already satisfied: pillow in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from wordcloud) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from matplotlib->wordcloud) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.8.1

In [43]:
!pip install gensim

Collecting gensim
  Downloading gensim-4.1.2-cp38-cp38-win_amd64.whl (24.0 MB)
Requirement already satisfied: scipy>=0.18.1 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from gensim) (1.7.3)
Requirement already satisfied: numpy>=1.17.0 in c:\users\user\anaconda3\envs\bsc\lib\site-packages (from gensim) (1.21.5)
Collecting Cython==0.29.23
  Downloading Cython-0.29.23-cp38-cp38-win_amd64.whl (1.7 MB)
Collecting smart-open>=1.8.1
  Downloading smart_open-6.0.0-py3-none-any.whl (58 kB)
Installing collected packages: smart-open, Cython, gensim
Successfully installed Cython-0.29.23 gensim-4.1.2 smart-open-6.0.0

In [37]:
import pandas as pd
import neattext.functions as nfx
import matplotlib.pyplot as plt

In [21]:
df= pd.read_csv('processed_tweet_data.csv')
df.head(5)

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,2356,355,McMc74078966,3,12,NaN,[],nikitheblogger,NaN
1,Fri Apr 22 22:19:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,1985,505,McMc74078966,3,12,NaN,[],sagt_mit,NaN
2,Fri Apr 22 22:17:28 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,16,4,McMc74078966,3,12,NaN,[],"Kryptonoun, WRi007",NaN
3,Fri Apr 22 22:17:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,1242,332,McMc74078966,3,12,NaN,"[{'text': 'Deutschen', 'indices': [16, 26]}, {...",WRi007,NaN
4,Fri Apr 22 22:13:15 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @RolandTichy: Baerbock verkÃ¼ndet mal so neb...,0.0,0.0,de,1329,386,McMc74078966,3,12,NaN,[],RolandTichy,NaN

# task1. cleaning

In [22]:
class CleanTweets:
        
    def drop_unwanted_column(df):
        
        unwanted_rows = df[df['retweet_count'] == 'retweet_count' ].index
        df.drop(unwanted_rows , inplace=True)
        df = df[df['polarity'] != 'polarity']
        
        return df
    def drop_duplicate(df:pd.DataFrame):
        
        df = df.drop_duplicates().drop_duplicates(subset='original_text')
        
        return df
    def convert_to_datetime(df:pd.DataFrame):
        """
        convert column to datetime
        """
        df['created_at'] = pd.to_datetime(df['created_at'], errors='ignore')
        
        df = df[df['created_at'] >= '2020-12-31' ]
        
        return df
    
    def convert_to_numbers(df):
        """
        convert columns like polarity, subjectivity, retweet_count
        favorite_count etc to numbers
        """
        df['polarity'] = pd.to_numeric(df['polarity'], errors='ignore')
        df['retweet_count'] = pd.to_numeric(df['retweet_count'], errors='ignore')
        df['favorite_count'] = pd.to_numeric(df['favorite_count'], errors='ignore')
        
        return df
    
    def remove_non_english_tweets(df):
        df = df.query("lang == 'en' ")
        
        return df

In [23]:
#pd.to_datetime(df.created_at[0], errors='ignore')

In [24]:
df = CleanTweets.drop_unwanted_column(df)

In [25]:
df= CleanTweets.drop_duplicate(df)

In [26]:
df= CleanTweets.convert_to_datetime(df)

In [27]:
df= CleanTweets. convert_to_numbers(df)

In [28]:
df= CleanTweets.remove_non_english_tweets(df)

In [29]:
df

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
38,2022-04-22 22:17:05+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @NorthstarCharts: The 10-year yield is tell...,0.16,0.540000,en,188,43,davideiacovozzi,18,55,NaN,"[{'text': 'gold', 'indices': [116, 121]}, {'te...",NorthstarCharts,NaN
39,2022-04-22 13:44:53+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @MichaelAArouet: German 10y mortgage rate w...,0.15,0.175000,en,179,32,davideiacovozzi,18,55,NaN,[],MichaelAArouet,NaN
41,2022-04-22 06:10:34+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @goldseek: When? https://t.co/kO2FfHKaZg,0.00,0.000000,en,193,26,davideiacovozzi,18,55,False,[],goldseek,NaN
42,2022-04-21 17:22:09+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @charliebilello: The 30-year mortgage rate ...,0.00,0.183333,en,620,213,davideiacovozzi,18,55,NaN,[],charliebilello,NaN
43,2022-04-21 10:32:26+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @biancoresearch: Rates rise until something...,-0.40,0.400000,en,1787,417,davideiacovozzi,18,55,False,[],biancoresearch,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24573,2022-04-22 21:31:18+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @Salt_Project_OS: Free yourself from writin...,0.40,0.800000,en,46,3,RosieG1029,148,1240,NaN,[],Salt_Project_OS,NaN
24586,2022-04-22 15:22:29+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @pbhushan1: Thank you @BajpayeeManoj for th...,0.85,1.000000,en,14671,5006,kitukalesatya,706,643,NaN,[],"pbhushan1, BajpayeeManoj",NaN
24596,2022-04-22 15:01:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @s_shreyatweets: Agree ?ðŸ‘‡ https://t.co/R54Z...,0.00,0.000000,en,5056,973,kitukalesatya,706,643,False,[],s_shreyatweets,NaN
24599,2022-04-22 14:58:12+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @tejjINC: 1. Peace Yatra by Late Sunil Dutt...,-0.30,0.600000,en,636,115,kitukalesatya,706,643,False,[],tejjINC,NaN
24622,2022-04-22 14:44:35+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @Parthtiwari25: Gujarat Congress MLA arrest...,0.00,0.000000,en,1025,203,kitukalesatya,706,643,NaN,[],Parthtiwari25,NaN

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15082 entries, 38 to 24622
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          15082 non-null  datetime64[ns, UTC]
 1   source              15082 non-null  object
 2   original_text       15082 non-null  object
 3   polarity            15082 non-null  float64
 4   subjectivity        15082 non-null  float64
 5   lang                15082 non-null  object
 6   favorite_count      15082 non-null  int64
 7   retweet_count       15082 non-null  int64
 8   original_author     15082 non-null  object
 9   followers_count     15082 non-null  int64
 10  friends_count       15082 non-null  int64
 11  possibly_sensitive  6019 non-null   object
 12  hashtags            15082 non-null  object
 13  user_mentions       10827 non-null  object
 14  place               10040 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(4), object(8)
memory usage: 1.8+ MB

In [33]:
# changing text from object type to string
df['original_text'] = df['original_text'].astype('str')

In [38]:

df['original_text'] = df['original_text'].apply(nfx.remove_hashtags)

In [46]:
# imports for sentiment analysis
import os
from wordcloud import STOPWORDS,WordCloud
import gensim
from gensim.models import CoherenceModel
from gensim import corpora
from pprint import pprint
import string
import os
import re

In [52]:
class PrepareData:
    def __init__(df):
        self.df = df
  

    def preprocess_data(df):
        tweets_df = df.loc[df['lang']=='en']

        # text preprocessing
        tweets_df['original_text']=tweets_df['original_text'].astype(str)
        tweets_df['original_text'] = tweets_df['original_text'].apply(lambda x: x.lower())
        tweets_df['original_text']= tweets_df['original_text'].apply(lambda x: x.translate(str.maketrans(' ', ' ', string.punctuation)))

        #Converting tweets to list of words For feature engineering
        list_of_sentenses = [tweet for tweet in tweets_df['original_text']]
        list_of_words = [sent.split() for sent in list_of_words]

        #Create dictionary which contains Id and word 
        word_to_id = corpora.Dictionary(list_of_words)
        corp_1= [word_to_id.doc2bow(tweet) for tweet in list_of_words]




        return list_of_words, word_to_id, corp_1

In [53]:
PrepareData_obj=PrepareData(df)
list_of_words ,id2word,corp=PrepareData_obj.preprocess_data()

TypeError: PrepareData() takes no arguments

In [13]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')